<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }} v{{ version }}</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>        
       
        <li>{{ product.name }}</li>           

        {# ... #}
    </body>
</html>